html{
	font-size: 16px;
}


body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}


.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
    padding: 0 15px;
	text-align: left;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	text-align: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	width: 100%;
	padding: 20px;

}
header h1 span {
	color: #77a466;
}


header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	list-style: none;
	align-items: flex-start;
	padding-right: 50px;

}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
	line-height: 3em;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	text-align: center;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
}

.section-one h3 {
	padding: 0;
}


.section-two h3, {
	padding: 0;
	text-align: left;
}

.section-three h3 {
	padding-left: 0px;
	text-align: left;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	text-align: left;
	padding: 0;
	
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 0px;
}

/*The widths are in a percentage!*/
footer {

	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


@media all and (min-width: 768px) {
	/* Tablet styles here */
	.section-one, .section-two, .section-three {
		align-items: center;
		flex-basis: 33%;

	}

	.bottom-section {
		justify-content: center;

	}
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;

	}
}

@media all and (min-width: 1200px) {
	/* Desktop styles here */

	header {

	}

}